---
layout: default
permalink: /
---
<section class = 'banner-w3ls'>
	<div id = 'block' data-vide-bg = '/assets/video/cruise' data-vide-options = 'position: 0% 50%'>
		<div class = 'overlay'>
			<h2>THE ULTIMATE ITINERARY SERVICE</h2>				
		</div>
	</div>	
</section>
<section class = 'about-wthree' id = 'about'>
	<div class = 'container'>
		<div class = 'col-lg-6 col-md-6 col-sm-12' data-aos = 'flip-right'>
			<h3>Our Services</h3>
			{%- for service in site.data.services -%}
			<h4 class = 'bright'>{{ service.name }}</h4>
			{{ service.description | markdownify }}
			{%- endfor -%}
		</div>
		<div class = 'col-lg-6 col-md-6 col-sm-12' data-aos = 'flip-left'>
			<ul class = 'grid cs-style-1'>
				<li>
					<figure>
						<img src = '/assets/images/about-img2.jpg' alt = 'img01' class = 'img-responsive'>						
					</figure>
				</li>
			</ul>
		</div>
		<div class = 'clearfix'></div>
	</div>
</section>
<section class = 'divider-wthree'  id = 'service'>
	<div class = 'container'>
		<h2 class = 'text-center' data-aos = 'zoom-in'>Our Specials</h2>
		<p class = 'text-center' data-aos = 'zoom-in'>Our specialists provide outstanding service for our clients, with the highest standards of service, a highly flexible approach, and attention to detail.</p>
	</div>
</section>
<section class = 'service-agileinfo'>
	<div class = 'container'>		
		<ul class = 'grid-2'>
		{% for item in site.data.specials %}
			<li class = 'card'>
				<h4>{{ item.name }}</h4>
				<a href = '/{{ item.link }}' title = '{{ item.name }}' class = 'card_item' >
					<img src = '/assets/images/{{ item.image }}' alt = '{{ item.name }}' class = 'card_image'/>
				</a>
			</li>
		{% endfor %}
		</ul>	
	</div>
</section>
<section class = 'divider-wthree'  id = 'service'>
	<div class = 'container'>
		<h3 class = 'text-center' data-aos = 'zoom-in'>Personal Travel</h3>
		<p class = 'text-center' data-aos = 'zoom-in'>Intimate adventures, designed with passion</p>
	</div>
</section>
<section>
	<ul class = 'wrap pt-2 pb-4 grid-3'>
		{% for item in site.data.corporate-travels %}
		<li class = 'card'>
			<h4>{{ item.name }}</h4>
			<a href = '/{{ item.link }}' title = '{{ item.name }}' >
			<img src = '/assets/images/{{ item.image }}' alt = '{{ item.name }}' class = 'card_image'/>
			</a>
		</li>
		{% endfor %}
	</ul>
</section>
<section class = 'divider-wthree'  id = 'service'>
	<div class = 'container pt-4 pb-4'>
		<h3 class = 'text-center'>Corporate Travel</h3>
		<p class = 'text-center' data-aos = 'zoom-in'>Our specialists provide outstanding service for our clients, with the highest standards of service, a highly flexible approach, and attention to detail.</p>
	</div>
</section>
<section>
	<ul class = ' wrap pt-2 pb-4 grid-3'>
	 {% for item in site.data.corporate-travels %}
	 <li class = 'card'>
		 <h4>{{ item.name }}</h4>
		 <a href = '/{{ item.link }}' title = '{{ item.name }}' class = 'card_item' >
			<img src = '/assets/images/{{ item.image }}' alt = '{{ item.name }}' class = 'card_image'/>
		 </a>
		</li>
	 {% endfor %}
	</ul>	
</section>