---
layout: default
permalink: /
---
<section class = 'banner-w3ls'>
	<div id = 'block' data-vide-bg = '/assets/video/cruise' data-vide-options = 'position: 0% 50%'>
		<div class = 'overlay'>
			<h2>THE ULTIMATE ITINERARY SERVICE</h2>				
		</div>
	</div>	
</section>
<section class = 'about-wthree' id = 'about'>
	<div class = 'container'>
		<div class = 'col-lg-6 col-md-6 col-sm-12' data-aos = 'flip-right'>
			<h3>Our Services</h3>
			<h4 class = 'bright'>DISCOVER - </h4>
			<p>We develop and create the most luxurious cultural experiences for you.  Our luxury travel concierge can create itineraries which deliver only the best in comfort, ease and luxury.  Our top selections of expeditions, reveal the most exciting, luxurious and remote places to view and explore.  From weddings, and honeymoons, to corporate retreats, we will work with you every single time.</p>
			
			<h4 class = 'bright'>PROFESIONAL TRAVEL - </h4>
			<p>Whether you're hosting clients, arranging retreat trips, or navigating social media content trips, our travel specialist can design a trip that will make the impossible, very, very much possible.  Our commitment to your travel experience is both of is in a class all to itself.  We know the importance of being flexible, we give our full attention to our corporate clients, so they can do the same.</p>
			<h4 class = 'bright'>EXCLUSIVE PERSONAL CULTURE - </h4>
			<p>Our clients know that we offer more than just luxury travel, instead we offer dream vacations and assist our clients on designing their personal journey.  Our clients are comfortable and secure with knowing that we are available to them 24 hours a day, 7 days a week, period.  With our options, come from getting to know our clients, and we understand and meet their expectations.  Our expertise in travel concierge services are second to none.</p>
		</div>
		<div class = 'col-lg-6 col-md-6 col-sm-12' data-aos = 'flip-left'>
			<ul class = 'grid cs-style-1'>
				<li>
					<figure>
						<img src = '/assets/images/about-img2.jpg' alt = 'img01' class = 'img-responsive'>						
					</figure>
				</li>
			</ul>
		</div>
		<div class = 'clearfix'></div>
	</div>
</section>
<section class = 'divider-wthree'  id = 'service'>
	<div class = 'container'>
		<h2 class = 'text-center' data-aos = 'zoom-in'>Our Specials</h2>
		<p class = 'text-center' data-aos = 'zoom-in'>Our specialists provide outstanding service for our clients, with the highest standards of service, a highly flexible approach, and attention to detail.</p>
	</div>
</section>
<section class = 'service-agileinfo'>
	<div class = 'container'>		
		<ul class = 'grid-2 demo'>
			<li>
				<h4>Deals For Las Vegas</h4>
				<img src = '/assets/images/lv1.jpg' alt = ''	onclick = 'location.href="os1.html"'/>
			</li>			
			<li>
				<h4>Deals For Thailand</h4>
				<img src = '/assets/images/tl1.jpg' alt = '' onclick = 'location.href= "os2.html"'/>
			</li>			
		</ul>
	</div>
</section>
<section class = 'divider-wthree'  id = 'service'>
	<div class = 'container'>
		<h3 class = 'text-center' data-aos = 'zoom-in'>Personal Travel</h3>
		<p class = 'text-center' data-aos = 'zoom-in'>Intimate adventures, designed with passion</p>
	</div>
</section>
<section>
	<ul class = 'wrap demo pt-4 pb-4 grid-3'>
		{% for item in site.data.corporate-travels %}
		<li>
			<h4>{{ item.name }}</h4>
			<a href = '/{{ item.link }}' title = '{{ item.name }}' >
			<img src = '/assets/images/{{ item.image }}' alt = '{{ item.name }}' class = 'img-responsive'/>
			</a>
		{% endfor %}
	</ul>
</section>
<section class = 'divider-wthree'  id = 'service'>
	<div class = 'container pt-4 pb-4'>
		<h3 class = 'text-center'>Corporate Travel</h3>
		<p class = 'text-center' data-aos = 'zoom-in'>Our specialists provide outstanding service for our clients, with the highest standards of service, a highly flexible approach, and attention to detail.</p>
	</div>
</section>
<section>
	<ul class = ' wrap demo pt-4 pb-4 grid-3'>
	 {% for item in site.data.corporate-travels %}
	 <li>
		 <h4>{{ item.name }}</h4>
		 <a href = '/{{ item.link }}' title = '{{ item.name }}' >
			<img src = '/assets/images/{{ item.image }}' alt = '{{ item.name }}' class = 'img-responsive'/>
		 </a>
	 {% endfor %}
	</ul>	
</section>