<section class="footer">
	<div class="container">		
		<div class="social">
			<a class="icon-link facebook fill"><i class="fa fa-facebook"></i></a>
			<a class="icon-link twitter fill"><i class="fa fa-twitter"></i></a>
			<a class="icon-link google-plus fill"><i class="fa fa-google-plus"></i></a>
			<a class="icon-link youtube fill"><i class="fa fa-youtube"></i></a>
			<a class="icon-link pinterest fill"><i class="fa fa-pinterest"></i></a>
		</div>
		<div class="clearfix"></div>
		<p class="text-center">&copy; 2017 Itinerary Club - All Rights Reserved | Design by <a href="http://www.jammanlv.com/"> Jamman Productions </a></p>
		<a href="#0" class="cd-top"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i></a>
	</div>
</section>