<section class = 'contact-w3-agileits pt-4 pb-4' id = 'contact'>
  <div class = 'wrap'>
    <form action = 'mailto:mikegarcia51@gmail.com' method = 'post'>
      <input type = 'text' class = 'form_input' id = 'name' name = 'name' placeholder = 'Your Name' required/>
      <input type = 'email' class = 'form_input' id = 'email2' name = 'email2' placeholder = 'Your Email' required/>
      <input type = 'tel' class = 'form_input' id = 'phone' name = 'phone' placeholder = 'Your Phone' required/>
      <textarea class = 'form_input' rows = '1' name = 'message' placeholder = 'Your Message' required></textarea>
      <button type = 'submit' class = 'form_input form_submit'>Submit</button>
    </form>	
  </div>
</section>