<form action="mailto:mikegarcia51@gmail.com" method="post">
  <div class="form-group col-md-4 col-sm-4">
    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required/>
  </div>
  <div class="form-group col-md-4 col-sm-4">
    <input type="email" class="form-control" id="email2" name="email2" placeholder="Your Email" required/>
  </div>
  <div class="form-group col-md-4 col-sm-4">
    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Your Phone" required/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-12">
    <textarea class="form-control" rows="6" name="message" placeholder="Your Message" required></textarea>
  </div>
  <div class="form-group col-md-12">
    <button type="submit" class="btn-outline2"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Submit</button>
  </div>
  <div class="clearfix"></div>
</form>	