*{
  &,&::before,&::after{
    box-sizing: border-box;
  }
}
body,label,h1,h2,h3,h4,h5,h6,div,ul,p{
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}
body{
  width:100%;
  padding:0;
  margin:auto;
  background:$light;
  font-family: $font-primary;
  color: $dark;
  font-weight:400;
  font-size: 16px;
  line-height: 1.5;
  a{
    transition:0.5s all;
  }
}
p {
  padding: 15px 0;
  color: $pale;
}
input[type="button"],input[type="submit"]{
  transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
  margin:0;	
  padding:0;
  font-family: $font-secondary;
  color: inherit;
  text-align: left;
  padding: 15px 0;
}	
button{
  transition:0.5s all;
}
img {
  max-width: 100%;
  transition:0.5s all;
}
.logo img {
  margin: 0 auto;
  display: block
}
.topbar-w3ls {
  background-color:transparent;
  position: absolute;
  width: 100%;
  z-index:1000;
  top:0px;	
}
.top-agileits {
  margin-top: -45px;
  margin-bottom:10px;
  text-align:justify;
}
a.logo {
  text-align:center;
  text-decoration: none;
  padding-top:10px;
}
a.logo h1 {
  font-size:70px;
  font-weight:normal;
  color:$light;
  text-transform:uppercase;
  font-family: 'Cinzel', serif;
}
a.logo h1 i.fa {
  font-size: 25px;
  color: $light;
  border: 1px solid $light;
  width: 50px;
  height: 50px;
  margin: -7px 7px 0;
  vertical-align: middle;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}
.topbar-w3ls .top-w3l1 {
  float:left;
}
.topbar-w3ls .top-w3l2 {
  float:right;
}
.topbar-w3ls .top-w3l1 span {
  font-size:35px;
  color:$light;
  margin:0;
  text-align:center;
  vertical-align:middle;
}
.topbar-w3ls .top-w3l1 p.agile1 {
  font-size:14px;
  font-weight:normal;
  color:$light;
  margin: -35px 0 3px 50px;
}
.topbar-w3ls .top-w3l1 p.agile2 {
  font-size:14px;
  font-weight:normal;
  color:$light;
  margin:0 0 0 50px;
}
.topbar-w3ls .top-w3l2 span {
  font-size:35px;
  color:$light;
  margin:0;
  text-align:center;
  vertical-align:middle;
}
.topbar-w3ls .top-w3l2 p.agileits1 {
  font-size:14px;
  font-weight:normal;
  color:$light;
  margin: -35px 0 3px 50px;
}
.topbar-w3ls .top-w3l2 p.agileits2 {
  font-size:14px;
  font-weight:normal;
  color:$light;
  margin:0 0 0 50px;
}
// /*-- /top bar --*/
// /*-- navigation --*/
.navbar-wrapper {
  position: absolute;
  top: 110px;
  right: 0;
  left: 0;
  z-index:inherit;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: 100%;
}
ul.nav.navbar-nav {
  float: none;
  text-align: center;
}
ul.nav.navbar-nav li {
  float: none;
  display:inline-block;
}
@media (min-width: 1200px) {
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

.navbar-nav>li>a {
  font-size:18px;
  font-weight:normal;
  color:$light!important;
  position:relative;
  padding: 10px 40px;
  font-family: 'Cinzel', serif;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: $light;
  background-color:transparent;
}
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
.cl-effect-7 a::before,
.cl-effect-7 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background:#ffb833;
  content: '';
  transition: transform 0.3s;
  transform: scale(0.85);
}
.cl-effect-7 a::after {
  opacity: 0;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}
.cl-effect-7 a:hover::before,
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::before,
.cl-effect-7 a:focus::after {
  transform: scale(1);
}
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::after {
  top: 0%;
  opacity: 1;
}
/*-- /navigation --*/
/*-- banner --*/
.banner-w3ls,#block {    
  position: relative;
  height: 925px;
  width:100%;
}
* {
  box-sizing: border-box;
}
.overlay { 	
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 6%;
  padding-right: 6%;
  display: table;
}
.overlay h2 {
  margin-top: 5px;
  font-size:55px;
  font-weight:normal;
  color: $light;
  text-align:center;
  font-family: 'Cinzel', serif;
  line-height: 1.3;
  padding-top:200px;
  padding-bottom:35px;
  text-transform:uppercase;
}
.overlay h3 {
  font-size:35px;
  font-weight:normal;
  color: $light;
  text-align:center;
  font-family: 'Cinzel', serif;
  line-height: 1.3;
  text-transform:uppercase;
}
.overlay h4 {
  font-size:25px;
  font-weight:normal;
  color: $light;
  text-align:center;
  font-family: 'Cinzel', serif;
  line-height: 1.3;
  text-transform:uppercase;
}
.overlay h5 {
  font-size:20px;
  font-weight:normal;
  color: $light;
  text-align:center;
  font-family: 'Cinzel', serif;
  line-height: 1.3;	
}
.overlay p {
  text-align:center;
  font-size: 16px;
  color: $light;
  width: 100%;
  padding:5px;
  text-transform:uppercase;
}
.overlay p:before {
  content:'';
  position:absolute;
  background-color:$light;
  width:210px;
  height:1px;
  left:0px;
  top:0px;
}
.overlay p:after {
  content:'';
  position:absolute;
  background-color:$light;
  width:210px;
  height:1px;
  right:0px;
  top:0px;
}
.social { 
  max-width:100%;
  text-align:center;  
  background-color:$dark;
}
/*-- /banner --*/
/*-- about --*/
.about-wthree {
  padding:100px 0;
}
.about-wthree h3.text-center {
  font-size:35px;
  font-weight:normal;
  color:$dark;
  margin-bottom:10px;
  font-family: 'Cinzel', serif;
}
.about-wthree p.text-center {
  font-size:16px;
  line-height:30px;
}
.about-wthree .grid {
  padding: 0px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.about-wthree .grid li {
  display: inline-block;
  margin: 0;
  text-align:center;
  position: relative;
  width:100%;
}
.about-wthree .grid figure {
  margin: 0;
}
.about-wthree .grid figure img {
  display: block;
  margin-top:15px;
}
.about-wthree .grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background:url(/assets/images/about-img.jpg) no-repeat;
  background-position:center;
  background-size:cover;
  color: #ed4e6e;
}
.about-wthree .grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: $light;
}
.about-wthree .grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: $light;
  text-decoration:none;
  font-family: 'Cinzel', serif;
}
.about-wthree .cs-style-1 figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.3s, opacity 0.3s;
}
.about-wthree .cs-style-1 figure:hover figcaption,
.about-wthree .cs-style-1 figure.cs-hover figcaption {
  opacity: 1;
  -ms-transform: translate(-15px, 15px);
  transform: translate(-15px, 15px);
}
.about-wthree .cs-style-1 figcaption h3 {
  margin-top: 70px;
}
.about-wthree .cs-style-1 figcaption span {
  display: block;
}
.about-wthree .cs-style-1 figcaption a {
  margin-top: 150px;
  font-family: 'Cinzel', serif;
}
/*-- /about --*/
/*-- divider --*/
.divider-wthree {
  padding:50px 0;
  background:#ffa500;
  background-attachment:fixed;
  background-position:center;
  background-size:100% 100%;
}
.divider-wthree h3.text-center {
  font-size:40px;
  font-weight:normal;
  color:$light;
  padding-bottom:20px;
  font-family: 'Cinzel', serif;
}
.divider-wthree p.text-center {
  font-size:25px;
  color:$light;
  line-height:30px;
}
/*-- /divider --*/
/*-- services --*/
.service-agileinfo {
  padding:100px 0;
}
.service-agileinfo h3.text-center {
  font-size:40px;
  font-weight:normal;
  color:$dark;
  padding-bottom:40px;
  font-family: 'Cinzel', serif;
}
.service-agileinfo img.img-responsive {
  width: 225px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
}
.service-agileinfo h4.text-center {
  font-size:22px;
  font-weight:normal;
  color:$dark;
  padding-bottom:20px;
  font-family: 'Cinzel', serif;
}
.service-agileinfo p.text-center {
  font-size:14px;
  line-height:30px;
}
/*-- /services --*/
/*-- gallery --*/
.gallery-info {
  padding:100px 0;
  background:url(/assets/images/gallery-img.jpg) no-repeat;
  background-position:center;
  background-attachment:fixed;
  background-size:100%;
}
.gallery-info h3.text-center {
  font-size:40px;
  font-weight:normal;
  color:$dark;
  padding-bottom:10px;
  font-family: 'Cinzel', serif;
}
.gallery-info h4.text-center {
  font-size:30px;
  font-weight:normal;
  color:$dark;
  padding-bottom:40px;
  font-family: 'Cinzel', serif;
}
.card { 	
  max-width:100%;
  text-align:center;
  &_item {
    position: relative;
    display: block;
    overflow: hidden;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: rgba(0,0,0, 0.5);
      z-index: 6;
      transition: all 0.3s;
    }
  }
  h4{
    text-align: center;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 10px 0;
  }
  &_image{
    width: 100%;
    transition: all 0.3s;
    margin: 0;
  }
  &:hover {
    a{
      box-shadow: 0 0 90px rgba(0, 0, 0, 0.3);
    }
    &a::after{
      background: rgba(0,0,0,0.2);
    }
    img{
      transform: scale(1.1);
    }
  }
}

// /*-- /gallery --*/
// /*-- team --*/
.team-w3 {
  padding:100px 0;
}
.team-w3 h3.text-center {
  font-size:40px;
  font-weight:normal;
  color:$dark;
  padding-bottom:10px;
  font-family: 'Cinzel', serif;
}
.team-w3 h4 {
  margin: 0;
  padding:15px 0;
  color: $dark;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  font-family: 'Cinzel', serif;
}
.team-w3 h5 {
  margin: 0;
  padding:15px 0;
  color: $dark;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Cinzel', serif;
}
.team-w3 ul.social-icons1 {
  text-align:center;
}
.team-w3 ul.social-icons1 li {
  display:inline;
}
.team-w3 ul.social-icons1 li a  {
  text-decoration:none;
}
.team-w3 ul.social-icons1 li a i.fa {
  font-size: 46px;
  line-height: 66px;
  width: 70px;
  color: #e74c3c;
  height: 70px;
  border: 1px solid #e74c3c;
  text-align: center;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.team-w3 ul.social-icons1 li a i.fa:hover {
  background-color:#e74c3c;
  border: 1px solid #e74c3c;
  color:$light;
}
/*-- /team --*/
/*-- contact us --*/
.contact-w3-agileits {
  padding:100px 0;
  background:url(/assets/images/contact.jpg) no-repeat;
  background-position:center;
  background-attachment:fixed;
  background-size:100% 100%;
}
.contact-w3-agileits1 {
  padding:100px 0;
  background-color:#feb734;
  background-position:center;
  background-attachment:fixed;
  background-size:100% 100%;
}
.contact-w3-agileits h3.text-center {
  font-size:40px;
  font-weight:normal;
  color:$light;
  padding-bottom:40px;
  font-family: 'Cinzel', serif;	
}
.contact-w3-agileits h4 {
  font-size:25px;
  font-weight:normal;
  color:$light;
  padding-bottom:20px;
  line-height:35px;
  font-family: 'Cinzel', serif;	
}
button.btn.btn-outline.btn-lg {
  width: 100%;
  height: 45px;
  color: $light;
  font-size: 17px;
  font-weight: normal;
  background-color:#e74c3c;
  border-color:$dark;
  font-family: 'Cinzel', serif;	
}
button.btn.btn-outline.btn-lg:hover {
  background-color:#c0392b;
  color:$light;
}
.divider-wthree {
  color: $light;
}
textarea.form-control {
  height: auto;
  width: 100%;
  color: $light;
  border-color:$dark;
  background:rgba(167, 129, 116, 0.31);
}
button.btn-outline2 {
  float: right;
  width: 200px;
  height: 45px;
  font-size: 17px;
  font-weight: normal;
  color: $light;
  background-color:#e74c3c;
  border-color:$dark;
  font-family: 'Cinzel', serif;	
}
button.btn-outline2:hover {
  background-color:#c0392b;
}
input::-webkit-input-placeholder {
  color: lighten($pale, 15%) !important;
}
// /*-- /contact us --*/
// /*-- footer --*/
.footer {
  padding:50px 0;
  background-color:$dark;
  .wrap{
    position: relative;
  }
}
.footer ul.w3-agile li {
  display:inline;
}
.footer ul.w3-agile li a {
  color:$light;
  text-decoration:none;
  font-size:16px;
  padding:10px 15px;
  font-weight:normal;
}
.footer ul.w3-agile li a:hover {
  background-color:#e74c3c;
  color:$light;
}
ul.social-icons2 {
  text-align: center;
}
.footer ul.social-icons2 li {
  display:inline;
}
.footer ul.social-icons2 li a i.fa {
  font-size: 46px;
  line-height: 166px;
  width: 120px;
  color: $light;
  height: 120px;
  border: 1px solid $light;
  text-align: center;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
.footer ul.social-icons2 li a i.fa:hover {
  background-color:#e74c3c;
  border: 1px solid #e74c3c;
  color:$light;
}
.footer p.text-center {
  font-size:16px;
  font-weight:normal;
  color:$light;
  line-height:30px;
  padding-top:20px;
}
.footer p.text-center a  {
  color:$mute;
  text-decoration:none;
}
.footer p.text-center a:hover  {
  color:#c0392b;
}
//*-- /footer --*/
//*-- back to top --*/
.cd-top {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 10px;
  right: 25px;
  background: $bright;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}

//*-- /back to top --*/

//*-- responsive design --*/
@media (max-width:1200px) {
  .banner-w3ls,#block  {
    height: 100%;
  }
  .about-wthree .cs-style-1 figcaption a {
    margin-top: 163px;
  }
  .overlay h2 {
    padding-top:270px;
  }
}

@media (max-width: 1200px) {
  .banner-w3ls,#block  {
    height: 1200px;
  }
  .topbar-w3ls .top-w3l1 span {
    font-size: 30px;
  }
  .topbar-w3ls .top-w3l1 p.agile1 {
    font-size: 13px;
    margin: -32px 0 2px 40px;
  }
  .topbar-w3ls .top-w3l1 p.agile2 {
    font-size: 13px;
    margin: 0 0 0 40px;
  }
  .topbar-w3ls .top-w3l2 span {
    font-size: 30px;
  }
  .topbar-w3ls .top-w3l2 p.agileits1 {
    font-size: 13px;
    margin: -32px 0 2px 40px;
  }
  .topbar-w3ls .top-w3l2 p.agileits2 {
    font-size: 13px;
    margin: 0px 0 0px 40px;
  }
  .cl-effect-2 a span {
    width:125px;
  }
  .overlay h2 {
    font-size: 50px;
  }
  .overlay h3 {
    font-size: 30px;
  }
  .overlay p {
    font-size: 14px;
  }
  .about-wthree .cs-style-1 figcaption a {
    margin-top: 130px;
  }
  .about-wthree p.text-center {
    font-size: 14px;
  }
  .divider-wthree p.text-center {
    font-size: 14px;
  }
  .about-wthree,.service-agileinfo,.gallery-info,.team-w3,.contact-w3-agileits {
    padding: 40px 0;
  }
  .divider-wthree {
    padding: 80px 0;
  }
  .service-agileinfo h3.text-center,.gallery-info h3.text-center,.team-w3 h3.text-center,.contact-w3-agileits h3.text-center {
    font-size: 35px;
  }
  .service-agileinfo h4.text-center {
    font-size: 18px;
    padding-bottom:10px;
  }
  .img-box ul li {
    width:235px;
  }
  .team-w3 .grid {
    padding-bottom:30px;
  }
  .team-w3 .grid figcaption h4 {
    font-size:17px;
    margin-top: 82%;
  }
  .team-w3 .cs-style-7 figcaption ul.social-icons1 li a i.fa {
    width:64px;
    height:64px;
    line-height:64px;
  }
  .team-w3 .grid figcaption {
    padding:5px;
  }
  .contact-w3-agileits h4 {
    font-size: 20px;
  }
  .footer ul.w3-agile li a { 
    font-size:15px;
  }
  .footer p.text-center {
    font-size: 14px;
  }
  .mag {
    margin: 64px auto 0;
  }
}

@media (max-width:1024px) {
  .overlay {
    padding:0;
  }
  .banner-w3ls, #block {
    height: 675px;
  }
  .overlay h2 {
    font-size: 45px;
  }
}

@media (max-width: 991px) {
  .overlay h2 {
    font-size: 35px;
    padding: 240px 0 50px;
  }
  .banner-w3ls,#block  {
    height: 600px;
  }
  .cl-effect-2 a span {
    width: 100%;
  }
  .navbar-nav>li>a {
    font-size: 16px;
    padding: 10px 25px;
  }
  .overlay h3 {
    font-size: 25px;
  }
  .about-wthree p.text-center {
    font-size: 14px;
    padding-bottom: 30px;
  }
  .about-wthree, .service-agileinfo, .gallery-info, .team-w3, .contact-w3-agileits {
    padding: 35px 0;
  }
  .about-wthree h3.text-center {
    padding:0 0 20px;
  }
  .about-wthree .cs-style-1 figcaption a {
    margin-top: 240px;
  }
  .service-agileinfo p.text-center {
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 30px;
  }
  .service-agileinfo {
    padding:35px 0 0;
  }
  .img-box ul li {
    width: 240px;
  }
  .col-lg-3.col-md-3.col-sm-6.team-w3l1 {
    padding-bottom: 40px;
  }
  .team-w3 .cs-style-7 figure:hover figcaption, .team-w3 .cs-style-7 figure.cs-hover figcaption {
    height:135%;
  }
  .team-w3 .grid figcaption h4 {
    margin-top:80%;
  }
  button.btn.btn-outline.btn-lg {
    margin-bottom:40px;
  }
  .col-lg-8.col-md-8.contact-w3l2 {
    padding: 0;
  }
  .footer ul.w3-agile {
    text-align: center;
  }
  ul.social-icons2 {
    text-align: center;
    padding-top: 25px;
  }
}

@media (max-width:900px) {
  .overlay p {
    font-size: 14px;
    width: 750px;
  }
  .overlay p:before,.overlay p:after {
    width:195px;
  }
}

@media (max-width:800px) {
  .overlay p {
    font-size: 14px;
    width: 710px;
    padding: 20px 30px;
  }
  .overlay p:before, .overlay p:after {
    width: 170px;
  }
}

@media (max-width: 768px) {
  .banner-w3ls,#block {
    height:570px!important;
  }
}

@media (max-width: 767px) {
  ul.nav.navbar-nav li {
    float: none;
    display: block;
  }
  ul.nav.navbar-nav {
    margin:0;
    padding:0;
    background-color:rgba(0,0,0,0.7);
  }
  .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
  }	
  a.logo {
    padding-top:25px;
  }
  .navbar-wrapper {
    top:70px;
  }
  a.logo h1 {
    font-size: 35px;
  }
  a.logo h1 i.fa {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height:40px;
    margin: -7px 0px 0;
  }
  .top-agileits {
    margin-top: -40px;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    text-align:center;
  }
  .navbar-toggle {
    float:none;
    margin:0;
  }
}

@media (max-width: 736px) {
  .banner-w3ls,#block {
    height:350px!important;
  }
  .overlay h2 {
    font-size: 40px;
    padding-top: 130px;
    padding-bottom: 15px;
  }
  .about-wthree h3.text-center {
    padding: 0 0 10px;
    font-size:30px;
  }
  .service-agileinfo h3.text-center, .gallery-info h3.text-center, .team-w3 h3.text-center, .contact-w3-agileits h3.text-center {
    font-size: 30px;
    padding-bottom:20px;
  }
  .img-box ul li {
    width: 229px;
  }
  .col-lg-3.col-md-3.col-sm-6.team-w3l1 {
    padding-bottom: 40px;
    width: 50%;
    float: left;
  }
  .col-lg-3.col-md-3.col-sm-6.team-w3l2 {
    width: 50%;
    float: left;
  }
  button.btn-outline2 {
    float: none;
    width: 100%;
  }
  .overlay p {
    display:none;
  }
  .about-wthree .cs-style-1 figcaption a {
    margin-top: 190px;
  }
  .pictures_eyes_in img {
    width: 560px!important;
  }
}

@media (max-width: 667px) {
  .overlay h2 {
    font-size: 35px;
    padding-top: 135px;
    padding-bottom: 25px;
  }
  .banner-w3ls, #block {
    height: 375px!important;
  }
  .img-box ul li {
    width: 206px;
  }
  .pictures_eyes_in .prev, .pictures_eyes_in .next {
    top:43%;
  }
}

@media (max-width: 640px) {
  .banner-w3ls, #block {
    height: 350px!important;
  }
  .img-box ul li {
    width: 296px;
  }
  .pictures_eyes_in img {
    width: 445px!important;
  }
  .mag {
    margin: 85px auto 0;
  }
  .about-wthree .cs-style-1 figcaption a {
    margin-top: 170px;
  }
  .pic {
    width: 440px;
  }
  .view-port {
    width: 540px;
    height: 345px;
  }
  .pre span, .next span {
    margin-top: 122px;
    line-height: 46px;
  }
  .close span {
    width: 39px;
    margin: 18px auto;
  }
  .close {
    top: 13px;
    left: 90%;
    width: 40px;
    height: 40px;
  }
  .map-w3 iframe.googlemaps {
    height:300px;
  }
  .contact-w3-agileits h3.text-center {
    padding-bottom:23px;
  }
}

@media (max-width: 600px) {
  .pictures_eyes_in img {
    width: 400px!important;
  }
  .overlay p {
    display: none;
  }
  .banner-w3ls, #block {
    height: 364px!important;
  }
  .overlay h2 {
    font-size: 35px;
    padding-top: 150px;
    padding-bottom: 20px;
  }
  .about-wthree .cs-style-1 figcaption a {
    margin-top: 155px;
  }
  .img-box ul li {
    width: 276px;
  }
  .mag {
    margin: 80px auto 0;
  }
  .team-w3 .cs-style-7 figure:hover figcaption, .team-w3 .cs-style-7 figure.cs-hover figcaption {
    height: 140%;
  }
}

@media (max-width: 568px) {
  .banner-w3ls, #block {
    height: 280px!important;
  }
  .divider-wthree {
    padding: 50px 0;
  }
  .divider-wthree h3.text-center {
    font-size: 30px; 
    padding-bottom:15px;
  }
  .overlay h2 {
    font-size: 30px;
    padding-top: 130px;
    padding-bottom: 15px;
  }
  .img-box ul li {
    width: 260px;
  }
  .col-lg-3.col-md-3.col-sm-6.team-w3l1 {
    padding-bottom: 70px;
    width: 50%;
    float: left;
  }
  .overlay h3 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  a.logo h1 {
    font-size: 30px;
  }
  a.logo h1 i.fa {
    font-size: 17px;
    width: 35px;
    height: 35px;
    line-height: 32px;
    margin: -7px 0px 0;
  }
  .top-agileits {
    margin-top: 11px;
  }
  .about-wthree .cs-style-1 figcaption a {
    margin-top: 125px;
  }
  .divider-wthree h3.text-center {
    font-size: 25px;
    padding-bottom: 15px;
  }
  .divider-wthree {
    background-size: contain;
  }
  .img-box ul li {
    width: 100%;
  }
  .mag {
    margin: 125px auto 0;
  }
  .col-lg-3.col-md-3.col-sm-6.team-w3l1,.col-lg-3.col-md-3.col-sm-6.team-w3l2 {
    padding-bottom: 30px;
    width: 100%;
    float: left;
  }
  .team-w3 .cs-style-7 figure:hover figcaption, .team-w3 .cs-style-7 figure.cs-hover figcaption {
    height: 130%;
  }
  .map-w3 iframe.googlemaps {
    width: 100%;
    height: 250px;
  }
  .service-agileinfo h3.text-center, .gallery-info h3.text-center, .team-w3 h3.text-center, .contact-w3-agileits h3.text-center {
    padding-bottom:20px;
  }
  .footer ul.w3-agile li a {
    display:inline-block;
  }
  .footer {
    padding: 30px 0;
  }
  #lightninBox {
    padding:7px;
  }
  .pictures_eyes {
    left:0!important;
  }
}

@media (max-width: 414px) {
  .overlay h2 {
    font-size: 27px;
    padding-top: 135px;
    padding-bottom: 15px;
  }
  .divider-wthree h3.text-center {
    font-size: 20px;
    padding-bottom: 15px;
  }
  .divider-wthree {
    background-size: 100% 100%;
  }
  .about-wthree .cs-style-1 figcaption a {
    margin-top: 95px;
  }
  .mag {
    margin: 105px auto 0;
  }
  .team-w3 .cs-style-7 figure:hover figcaption, .team-w3 .cs-style-7 figure.cs-hover figcaption {
    height: 133%;
  }
  .team-w3 {
    padding:35px 0 0;
  }
  .contact-w3-agileits {
    text-align:center;
  }
  textarea.form-control {
    text-align:center;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }
  .topbar-w3ls .top-w3l1 span {
    font-size: 25px;
  }
  .topbar-w3ls .top-w3l1 p.agile1 {
    font-size: 11px;
    margin: -26px 0 2px 35px;
  }
  .topbar-w3ls .top-w3l1 p.agile2 {
    font-size: 11px;
    margin: 0 0 0 35px;
  }
  .topbar-w3ls .top-w3l2 span {
    font-size: 25px;
  }
  .topbar-w3ls .top-w3l2 p.agileits1 {
    font-size: 11px;
    margin: -26px 0 2px 35px;
  }
  .topbar-w3ls .top-w3l2 p.agileits2 { 
    font-size: 11px;
    margin: 0 0 0 35px;
  }
  a.logo h1 i.fa {
    font-size: 13px;
    width: 25px;
    height: 25px;
    line-height: 23px;
    margin: -5px -2px 0;
  }
  a.logo h1 {
    font-size: 26px;
  }
}

@media (max-width: 384px) {
  .about-wthree .cs-style-1 figcaption a {
    margin-top: 85px;
  }
  .mag {
    margin: 95px auto 0;
  }
  .overlay h2 {
    font-size: 25px;
    padding-top: 135px;
    padding-bottom: 15px;
  }
  .pictures_eyes_in img {
    width: 320px!important;
  }
}

@media (max-width: 375px) {
  .banner-w3ls, #block {
    height: 255px!important;
  }
  .about-wthree .cs-style-1 figcaption a {
    margin-top: 80px;
  }
  .pictures_eyes_in .prev, .pictures_eyes_in .next {
    top: 40%;
  }
}

@media (max-width:320px) {
  .navbar-toggle {
    float: none;
    margin: -10px 0 0;
  }
  .overlay h2 {
    font-size: 20px;
    padding-top: 145px;
    padding-bottom: 10px;
  }
  .overlay h3 {
    font-size: 17px;
  }
  .overlay h4 {
    font-size: 15px;
  }
  .banner-w3ls, #block {
    height: 225px!important;
  }
  a.logo {
    padding-top: 13px;
  }
  .navbar-wrapper {
    top: 100px;
  }
  .about-wthree, .service-agileinfo, .gallery-info, .team-w3, .contact-w3-agileits {
    padding: 25px 0;
  }
  .about-wthree p.text-center {
    font-size: 13px;
    padding-bottom: 30px;
  }
  .about-wthree .cs-style-1 figcaption a {
    margin-top: 60px;
  }
  .divider-wthree p.text-center {
    font-size: 13px;
  }
  .service-agileinfo h3.text-center, .gallery-info h3.text-center, .team-w3 h3.text-center, .contact-w3-agileits h3.text-center {
    font-size: 25px;
  }
  .about-wthree h3.text-center {
    padding: 0 0 10px;
    font-size: 25px;
  }
  .service-agileinfo p.text-center {
    font-size: 13px;
  }
  .mag {
    margin: 70px auto 0;
  }
  .team-w3 .cs-style-7 figure:hover figcaption, .team-w3 .cs-style-7 figure.cs-hover figcaption {
    height: 140%;
  }
  .col-lg-3.col-md-3.col-sm-6.team-w3l1, .col-lg-3.col-md-3.col-sm-6.team-w3l2 {
    padding-bottom: 30px;
    width: 100%;
    float: left;
  }
  .contact-w3-agileits h4 {
    font-size: 15px;
  }
  .footer ul.w3-agile li a {
    font-size: 14px;
  }
  .footer p.text-center {
    font-size: 13px;
  }
  .pictures_eyes_in img {
    width: 275px!important;
  }
  .team-w3 h4 {
    font-size: 18px;
  }
}
.icon-link {
  width: 45px;
  height: 45px;
  background-color: #666;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  margin: 5px;
  border-radius: 50%;
}
.icon-link.fill.facebook {
  background-color: #3b5998;
}
.icon-link.fill.facebook:hover {
  background-color: $light;
}
.icon-link.fill.facebook:hover .fa-facebook {
  color: #3b5998;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.tumblr {
  background-color: #32506d;
}
.icon-link.fill.tumblr:hover {
  background-color: $light;
}
.icon-link.fill.tumblr:hover .fa-tumblr {
  color: #32506d;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.linkedin {
  background-color: #007bb6;
}
.icon-link.fill.linkedin:hover {
  background-color: $light;
}
.icon-link.fill.linkedin:hover .fa-linkedin {
  color: #007bb6;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.twitter {
  background-color: #00aced;
}
.icon-link.fill.twitter:hover {
  background-color: $light;
}
.icon-link.fill.twitter:hover .fa-twitter {
  color: #00aced;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.google-plus {
  background-color: #dd4b39;
}
.icon-link.fill.google-plus:hover {
  background-color: $light;
}
.icon-link.fill.google-plus:hover .fa-google-plus {
  color: #dd4b39;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.reddit {
  background-color: #8bbbe3;
}
.icon-link.fill.reddit:hover {
  background-color: $light;
}
.icon-link.fill.reddit:hover .fa-reddit {
  color: #8bbbe3;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.youtube {
  background-color: #df1c31;
}
.icon-link.fill.youtube:hover {
  background-color: $light;
}
.icon-link.fill.youtube:hover .fa-youtube {
  color: #df1c31;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.pinterest {
  background-color: #b81621;
}
.icon-link.fill.pinterest:hover {
  background-color: $light;
}
.icon-link.fill.pinterest:hover .fa-pinterest {
  color: #b81621;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.github {
  background-color: #444;
}
.icon-link.fill.github:hover {
  background-color: $light;
}
.icon-link.fill.github:hover .fa-github {
  color: #444;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.envelope {
  background-color: #333;
}
.icon-link.fill.envelope:hover {
  background-color: $light;
}
.icon-link.fill.envelope:hover .fa-envelope {
  color: #333;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.soundcloud {
  background-color: #f50;
}
.icon-link.fill.soundcloud:hover {
  background-color: $light;
}
.icon-link.fill.soundcloud:hover .fa-soundcloud {
  color: #f50;
  transition: color 150ms ease-in-out;
}
.icon-link.brand {
  background-color: $light;
}
.icon-link.brand .fa {
  color: #006FC2;
}
.icon-link.round {
  border-radius: 50%;
}
.icon-link.round-corner {
  border-radius: 5px;
}
.icon-link:hover {
  transition: background-color 150ms ease-in-out;
  background-color: $light;
}
.icon-link:hover.facebook {
  border: 2px solid #3b5998;
}
.icon-link:hover.tumblr {
  border: 2px solid #32506d;
}
.icon-link:hover.linkedin {
  border: 2px solid #007bb6;
}
.icon-link:hover.twitter {
  border: 2px solid #00aced;
}
.icon-link:hover.google-plus {
  border: 2px solid #dd4b39;
}
.icon-link:hover.reddit {
  border: 2px solid #8bbbe3;
}
.icon-link:hover.youtube {
  border: 2px solid #df1c31;
}
.icon-link:hover.pinterest {
  border: 2px solid #b81621;
}
.icon-link:hover.github {
  border: 2px solid #444;
}
.icon-link:hover.envelope {
  border: 2px solid #333;
}
.icon-link:hover.soundcloud {
  border: 2px solid #f50;
}
.icon-link:hover .fa {
  line-height: 56px;
}
.icon-link:hover .fa-facebook {
  color: #3b5998;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-tumblr {
  color: #32506d;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-linkedin {
  color: #007bb6;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-twitter {
  color: #00aced;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-google-plus {
  color: #dd4b39;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-reddit {
  color: #8bbbe3;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-youtube {
  color: #df1c31;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-pinterest {
  color: #b81621;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-github {
  color: #444;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-envelope {
  color: #333;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-soundcloud {
  color: #f50;
  transition: color 150ms ease-in-out;
}
.icon-link .fa {
  color: $light;
  font-size: 1.5rem;
}

//*-- /responsive design --*/

.overlay {
  &_dark{
    background: $dark;
  }
}
textarea {
  -webkit-appearance: none;
  resize: none;
}
form {
  max-width: 540px;
  margin: 0 auto 50px;
}
label{
  opacity: 0;
  visibility: hidden;
}

.form{
  &_action{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($dark, 0.1);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  &_control {
    box-shadow: 0 0 130px rgba(0,0,0,0.17);
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    transition: all 0.3s ease-out;
    &:focus{
      box-shadow: 0 0 90px rgba(0,0,0,0.17);
    }
  }
  &_input {
    background: $light;
    color: $dark;
    margin-bottom: 15px !important;
    line-height: 1.6;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    text-align: left;
    font-size: 16px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    opacity: 0.9;
    transition: all 0.3s;
    &-shadow {
      border: 1px solid #f0f0f0;
      margin: 15px auto 25px !important;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
      &:focus{
        box-shadow: 0 0 40px rgba(0,0,0,0.17);
      }
    }
    &:hover{
      opacity: 1;
    }
  }
  &_submit {
    background: $bright;
    color: $light;
    text-transform: uppercase;
    text-align: center;
  }
}

// subscribe widget;
.mail{
  h2,h3{
    padding-top: 15px;
  }
  &_container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  &_grow {
    animation: grow 1s forwards;
    padding: 10px 20px;
  }
  &_retard {
    height: 0;
    opacity: 0;
    padding: 0;
  }
  &_inner{
    position: relative;
  }
  &_preview,&_body{
    position: absolute;
    bottom: 10px;
    right: 0;
    overflow: hidden;
    transform-origin: 100% 50%;
    width: 100%;
    max-width: 450px;
  }
  &_preview {
    font-family:  $font-secondary;
    font-weight: 500;
    cursor: pointer;
    background: $bright;
    display: flex;
    justify-content: space-between;
    color: $light;
    border-radius: 10px 10px 0 0;
  }
  &_body{
    background: $light;
    box-shadow: 0 0 60px rgba(0,0,0,0.3);
    border-radius: 10px 10px 0 0;
    text-align: center;
  }
  &_close{
    overflow: hidden;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    color: $pale;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.17);
    z-index: 15;
    transition: all 0.3s;
    &:hover{
      box-shadow: 0 0 30px rgba(0,0,0,0.17);
    }
  }
}
@keyframes grow {
  0%{
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: initial;
    opacity: 1;
  }
}

@keyframes retard {
  0%{
    height: initial;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100%{
    height: 0;
    opacity: 0;
  }
}