.dark {
  background: $dark;
  color: $light;
}
.bright{
  color: $bright;  
}
.text{
  &_left{
    text-align: left;
  }
  &_right{
    text-align: right;
  }
  &_center{
    text-align: center !important;
  }
}
.mute{
  color: $mute;
}
.hide{
  opacity: 0;
  transform: scale(0);
  &_xs{  
    display: none;
    @media screen and (min-width: 667px) {
      display: initial;
    } 
  }
}
.fit{
  padding: 0;
}
// center horizontally and vertically
.contain{
  flex-direction: column;
  &,&_row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_row{
    flex-flow: row wrap;
  }
}
.sold-out{
  background: #dc3545;
}
.available{
  background: #28a745;
}
.expected{
  background: $bright;
}
.ma{
  margin-left: auto;
  margin-right: auto;
}
@for $i from 1 through 4 {
  $size: $i * 25px * 0.5;
  // margin bottom
  .mb-#{$i} {
    margin-bottom: $size !important;
  }
  // margin top
  .mt-#{$i} {
    margin-top: $size !important;
  }
  // padding around
  .ma-#{$i} {
    padding: $size !important;
  }
  .pt-#{$i} {
    padding-top: $size !important;
  }
  .pb-#{$i} {
    padding-bottom: $size !important;
  }
  .pl-#{$i} {
    padding-left: $size !important;
  }
  .pr-#{$i} {
    padding-right: $size !important;
  }
}
.shade{
  box-shadow:  0 0 60px rgba(0,0,0,0.17);
}
.underline {
  margin-top: 0;
  position: relative;
  text-decoration: none;
  &::before,
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
  }
  &::before{
    width: 33%;
    background: $bright;
  }
  &::after{
    width: 100%;
    background: rgba(39,48,57,.15); 
  }
}
.flex {
  justify-content: center;
  min-height: 360px;
  &,&_rev{
    flex-direction: column;
  }
  &,&_row,&_rev{
    display: flex;
    align-items: center;
  }
  &_row{
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.reverse{
  order: -1;
}
.thumb{
  width: 100px;
}

$sites: (
  facebook: #325c94,
  instagram: #fb3958,
  twitter: #00abdc,
  google-plus: #dd4b38,
  linkedin: #007bb6
);

@each $item, $color in $sites {
  .#{$item} {
    background: $color;
  }
}

.white{
  color: $light;
  font-weight: 400;
}
.slim{
  font-weight: 400;
  margin: 5px 0;
}

$emojis: (
  wave: "\1F44B",
  warn: "\26A0",
  calendar: "\1F4C5",
  folder: "\1F4C2",
  mail: "\1F4E7",
  money: "\1F480",
  write: "\270D",
  clap: "\1F447",
  smile: "\1F642",
  sad: "\1F61E"
);

@each $emoji, $code in $emojis {
  .em_#{$emoji}:after {
    content: $code;
  }
}

[class^=em_] {
  display: inline-grid;
  justify-self: center;
  background: transparent;
}

[class^=em_]:after {
  padding-left: 15px;
  padding-right: 15px;
}

@for $i from 1 through 5 {
  $margin : $i * 25px; 
  .em-#{$i} {
    font-size: $margin;
  }
}
.wrap {
  margin: 0 auto;
  max-width: 1170px;
}

%grid{
  display: grid;
  grid-template-columns: 1fr;
}
[class*='grid-']{
  grid-gap: 2.5rem 3.5rem;
}
.grid-2, .grid-3, .grid-auto, .grid-reverse{
  @extend %grid;
}
@media screen and (min-width: 49rem){
  .grid-auto{
    grid-template-columns: 1fr 3fr;
  }
  .grid-reverse{
    // flip grid auto;
    grid-template-columns: 3fr 1fr;
  }
  .grid-2{
    grid-template-columns: 1fr 1fr;
  }
  .grid-3 {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}