$pale: #3f4652;
$dark: #1B2936;
$bright: #ffa500;
$brighter: #ff4000;
$light: #fff;
$mute: darken($light, 33%);
$brightest: #e74c3c;
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;